@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}

body
{ background-color: #e8e8e8;
font-family: 'Lato', sans-serif;
}

.container
{
max-width: 920px;
width: 100%;
margin-left: auto;
	margin-right: auto;

}

.container h2
{
	font-weight: 400;
	font-size: 1.6em;
	color: #fff;
	margin-top: 85px;
margin-left: 20px;

}

.right { float: right; margin-right: 20px;}


.dash-container
{
	width: 100%;
	padding: 40px;
	
	height: 1000px;
	background-color: #fff;
}

.dash-container img
{
	 float: right;
    margin-right: 20px;
    margin-top: 25px;
}

.over-ride
{ float: left !important; margin-left: 20px; margin-right: 0px !important;}

.my-graph
{
	width: 49%;
	background-color: #159dad;
	height: 14%;
	float: left;
	margin-right: 18px;
	margin-top: 9px;
	margin-bottom: 9px;
	-webkit-border-radius: 25px 0px 0px 0px;
border-radius: 25px 0px 0px 0px; 
}

.my-graph:hover
{

 
    background-color: #037c8a;
-webkit-transition: all 800ms ease-in-out;
		-moz-transition: all 800ms ease-in-out;
        -ms-transition: all 800ms ease-in-out;
        -o-transition: all 800ms ease-in-out;
		transition: all 800ms ease-in-out;

}


.my-program
{
	width: 49%;
	background-color: #6341b9;
	height: 14%;
	float: left;
	margin-top: 9px;
	margin-bottom: 9px;
	-webkit-border-radius: 0px 25px 0px 0px;
border-radius: 0px 25px 0px 0px; 

}


.my-program:hover
{
	
	background-color: #3f208e;
-webkit-transition: all 800ms ease-in-out;
		-moz-transition: all 800ms ease-in-out;
        -ms-transition: all 800ms ease-in-out;
        -o-transition: all 800ms ease-in-out;
		transition: all 800ms ease-in-out;
}

.my-menu

{

	width: 49%;
	background-color: #d85234;
	height: 14%;
	float: left;
	margin-top: 9px;
	margin-bottom: 9px;
-webkit-border-radius: 25px 0px 0px 0px;
border-radius: 25px 0px 0px 0px; 
margin-right: 18px;

}

.my-menu:hover
{

	background-color: #bf3d1f;
-webkit-transition: all 800ms ease-in-out;
		-moz-transition: all 800ms ease-in-out;
        -ms-transition: all 800ms ease-in-out;
        -o-transition: all 800ms ease-in-out;
		transition: all 800ms ease-in-out;

}

.my-support
{
	width: 49%;
	background-color: #a10ba6;
	height: 14%;
	float: left;
	margin-top: 9px;
	margin-bottom: 9px;
	-webkit-border-radius: 0px 25px 0px 0px;
border-radius: 0px 25px 0px 0px; 

}

.my-support:hover
{


	background-color: #810785;
-webkit-transition: all 800ms ease-in-out;
		-moz-transition: all 800ms ease-in-out;
        -ms-transition: all 800ms ease-in-out;
        -o-transition: all 800ms ease-in-out;
		transition: all 800ms ease-in-out;

}


.motivate
{
	width: 49%;
	background-color: #0d9b21;
	height: 14%;
	float: left;
	margin-right: 18px;
	margin-top: 9px;
	margin-bottom: 9px;
	-webkit-border-radius: 25px 0px 0px 0px;
border-radius: 25px 0px 0px 0px; 
}

.motivate:hover
{

 
    background-color: #026c11;
-webkit-transition: all 800ms ease-in-out;
		-moz-transition: all 800ms ease-in-out;
        -ms-transition: all 800ms ease-in-out;
        -o-transition: all 800ms ease-in-out;
		transition: all 800ms ease-in-out;

}

.riskAss
{
	width: 49%;
	background-color: #358ceb;
	height: 14%;
	float: left;
	margin-top: 9px;
	margin-bottom: 9px;
	-webkit-border-radius: 0px 25px 0px 0px;
border-radius: 0px 25px 0px 0px; 

}


.riskAss:hover
{
	
	background-color: #0a5bb4;
-webkit-transition: all 800ms ease-in-out;
		-moz-transition: all 800ms ease-in-out;
        -ms-transition: all 800ms ease-in-out;
        -o-transition: all 800ms ease-in-out;
		transition: all 800ms ease-in-out;
}

.education
{
	width: 49%;
	background-color: #bb1a4b;
	height: 14%;
	float: left;
	margin-right: 18px;
	margin-top: 9px;
	margin-bottom: 9px;
	-webkit-border-radius: 25px 0px 0px 0px;
border-radius: 25px 0px 0px 0px; 
}

.education:hover
{

 
    background-color: #990532;
-webkit-transition: all 800ms ease-in-out;
		-moz-transition: all 800ms ease-in-out;
        -ms-transition: all 800ms ease-in-out;
        -o-transition: all 800ms ease-in-out;
		transition: all 800ms ease-in-out;

}



.goals
{
	width: 49%;
	background-color: #005469;
	height: 14%;
	float: left;
	margin-top: 9px;
	margin-bottom: 9px;
	-webkit-border-radius: 0px 25px 0px 0px;
border-radius: 0px 25px 0px 0px; 

}


.goals:hover
{
	
	background-color: #002e39;
-webkit-transition: all 800ms ease-in-out;
		-moz-transition: all 800ms ease-in-out;
        -ms-transition: all 800ms ease-in-out;
        -o-transition: all 800ms ease-in-out;
		transition: all 800ms ease-in-out;
}



/* anything below desktop */

@media (max-width: 919px){
  

  .mobil { width: 100% !important;
    height: 7%;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 25px 0 0 0 !important;

 }

.mobil img { height: 70%; }
  /* 
.trans-left {-webkit-transition: all 400ms ease-in;
-moz-transition: all 400ms ease-in;
-ms-transition: all 400ms ease-in;
-o-transition: all 400ms ease-in;
transition: all 400ms ease-in; }

.trans-right  { -webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-ms-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
transition: all 400ms ease-out; }

*/


  .dash-container
  {padding: 10px !important; width: 97% !important;}

  .dash-container img
{
	
    margin-top: 10px;
    float: left;
    margin-left: 20px;
    margin-right: 0px !important;
}

  .container h2
{

	margin-right: 25px;
	margin-left: 20px;
	float: right;
	margin-top: 18px !important;
}

.stretchLeft{
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%; 
	-o-transform-origin: 100% 0%;

}

.stretchLeft{
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%; 
}

@keyframes stretchLeft {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchLeft {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}



}



